@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
    padding:0%;
    font-family: "Segoe UI", Arial, system-ui;
}

ul, div {
    padding:0;
    margin:0;
}

a {
    color: inherit; 
    text-decoration:inherit;
} 

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

body {
    padding: 0;
    border: 0;
    margin: 0;
    background-color: #EAECFD;
}

#site {
    
    width:45%;
    min-width:300px;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
    margin-left: auto ;
    margin-right: auto ;

}

/* header stuff */

#header {
    background-color: #ffffff;
    padding: 1%;
    padding-bottom:1.5%;
    padding-left:4%;
    margin-top: 5%;
    display: block ;
    flex-direction: row ;
}

#header-navbar {
    display: inline;
    border: 0;
    margin: 0;
}

.header-navbar-buttons, .header-navbar-links {
    display: inline;
    color: #222129;
    padding-top: 0.15%;
    padding-bottom: 0.75%;
    padding-left: 0.75%;
    padding-right: 0.75%;
    margin: 0;
}

.header-navbar-links {
    position: relative;
    display: inline;
    font-size: 15px;
}

.header-navbar-buttons:hover, .header-navbar-links:hover {
    text-decoration: underline;
}

.header-navbar-links-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 10%;
    
}

.header-navbar-links-content a {
    color: #222129;
    padding: 7%;
    display: block;
}

.header-navbar-links-content a:hover {text-decoration: underline;}

.header-navbar-links:hover .header-navbar-links-content {
    display: block;
}

#header-navbar-logo {
    display: inline;
    color: #222129;
    font-size: 25px;
    padding-top: 0.15%;
    padding-bottom: 0.75%;
    padding-left: 0.75%;
    padding-right: 2%;
    margin: 0;
}

#header-navbar-logo-text-a {
    display: inline;
    color: #60d1d1;
}

#header-navbar-logo-text-a:hover,#header-navbar-logo-text-b:hover {
    display: inline;
    color: #505050;
}

#header-navbar-logo-text-b {
    display: inline;
    color: #222129;
    font-size: 13px;
}

/* heaeder image page */

#container {
    margin:0;
}

#header-image {
    background-image: url('../images/header-background.jpg');
    background-size: cover;
    background-position: center;
}

#header-image-page-title {
    color: #ffffff;
    text-align: center;
    font-size: 45px;
}

#header-image-page-subtitle {
    color: #ffffff;
    text-align: center;
    font-size: 25px;
}

#header-image-contents {
    animation-name: fade-in;
    animation-duration: 1.5s;
}

/* content */

#content-box {
    background-color: #ffffff ;
    color: #222129;
    margin-top: 0% ;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 5%;
    padding: 5% ;
    padding-top: 1%;
    display: block ;
    flex-direction: row ;
    justify-content: center ;
    align-items: center ;
}

/* footer */

#footer {
    font-size: 10px;
    text-decoration: bold;
}
