<!DOCTYPE HTML>
<html lang="en">

    <head>

        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}" />
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/images/favicon.ico') }}">
        <title>{% block title %}{% endblock %} ∙ brahm</title>
        {% endblock %}

    </head>

    <body>
        <div id="site">
            <div id="header">
                <ul id="header-navbar">
                    <li id="header-navbar-logo"><a href="/"><p id="header-navbar-logo-text-a"><b>brahm</b></p></a> <a href="https://youtu.be/i5mu_sKCWMY?si=WIkolRnf_UOmPLqp"><p id="header-navbar-logo-text-b"> บราห์ม</p></a></li>
                    <li class="header-navbar-buttons"><a href="/portfolio/">portfolio</a></li>
                    <li class="header-navbar-buttons"><a href="/gallery/">gallery</a></li>
                    <li class="header-navbar-links">
                        <a href="javascript:void(0)">links</a>
                        <div class="header-navbar-links-content">
                            <a href="https://www.instagram.com/brahmnw/">instagram</a>
                            <a href="https://osu.ppy.sh/users/5554231">osu!</a>
                            <a href="https://github.com/brahmnw">github</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="container">
                {% block container %}
                {% endblock %}
            </div>
        </div>
        
        
    </body>

</html>
