{% extends 'page.html' %}
{% block title %}home{% endblock %}
{% block content %}
<h3>at a glance</h3>
<p>bkk ➨ yyc<br>hww'24<br>ucalgary biomedical sciences'28</p>
<h3>what i'm listening to atm</h3>
<iframe width="75%", height="360px" src="https://www.youtube.com/embed/hYUvI5Njbbk?si=BRyjIHMamUOc-Oab" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>

{% endblock %}

