{% extends 'base.html' %}

{% block container %}
<div id="header-image">
    <div id="header-image-page-title">{% block page_title %} {% endblock %}</div>
        <div id="header-image-page-subtitle">{% block page_subtitle %} {% endblock %}</div>
        </div>

        <div id="content">
            <div id="content-box">
                {% block content %} 
                {% endblock %}
            </div>
        </div>

        <div id="footer">
            {% block footer %} 
            {% endblock %}
        </div>
</div>
{% endblock %}
        
